body {
   background: floralwhite;
}

h1 {
   color: teal;
   text-align: center;
   font-size: 120;
   font-family: arial;
}

p  {
   color: orangered;
   text-align: center;
   font-size: 25;
   font-family: arial;
   font-weight: bold;
}

p2 {
   color: firebrick;
   font-weight: bold;
   font-size: 25;
   font-family: arial;
   text-align: center;
}
