body {
   background: floralwhite;
    text-align: center;
  
}
h1 {
   color: teal;
   font-size: 100;
   font-family: arial;
}

p1  {
   color: orangered;
   font-size: 33;
   font-family: arial;
   font-weight: bold;
}
a {
   display: block;
}

